<div class="section_1">
	<h1>你好，我是张佩文</h1>
	<p>很高兴认识你</p>
</div>
<div class="section_2">
	<p>Spire，前端工程师</p>
	<p>浙江大学，计算机科学与技术专业</p>
	<p>交互社稷，榴莲音乐，翻译</p>
	<p>UI/UX设计师</p>
	<p>手工艺爱好者</p>
</div>
<div class="section_3">
	<span></span><p>近期作品</p><span></span>
</div>